# Terraform Action to test Cloud Databases with test-harness

name: AWS Cloud Database Test Execution
on:
  # Triggers the workflow on a schedule for the main branch. Also allows for manual triggers
  schedule:
    - cron: '0 12 * * *' # Execute every day at noon
  workflow_dispatch:

jobs:
  init-db:
    runs-on: ubuntu-latest
    container:
      image: liquibase/liquibase:latest
      env:
        LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
    strategy:
      fail-fast: false
      matrix:
        include:
#          - database: postgresql
#            version: 10
#          - database: postgresql
#            version: 11
#          - database: postgresql
#            version: 12
#          - database: postgresql
#            version: 13
#          - database: postgresql
#            version: 14
#          - database: oracle
#            version: 19
#          - database: mariadb
#            version: 10.6
          - database: mysql
            version: 8
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: lpm update && lpm add mysql

      - name: Init Database
        run: liquibase --classpath="src/test/resources/init-changelogs/aws" --changeLogFile="${{ matrix.database }}.sql" --username="${{ secrets.TH_DB_ADMIN }}" --password="${{ secrets.TH_DB_PASSWD }}" --url="${{ secrets[format('TH_{0}_{1}', matrix.database, matrix.version)] }}" update

  test:
    needs: [init-db]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
#          - database: postgresql
#            version: 10
#          - database: postgresql
#            version: 11
#          - database: postgresql
#            version: 12
#          - database: postgresql
#            version: 13
#          - database: postgresql
#            version: 14
#          - database: oracle
#            version: 19
#          - database: mariadb
#            version: 10.6
          - database: mysql
            version: 8

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: AWS RDS ${{ matrix.database }}-${{ matrix.version }} Test Run
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DconfigFile=/harness-config-cloud.yml -DdbName=${{ matrix.database }} -DdbVersion=${{ matrix.version }} -DdbUsername=${{secrets.TH_DB_ADMIN}} -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl=--url="${{ secrets[format('TH_{0}_{1}', matrix.database, matrix.version)] }}" test

      - name: Archive AWS RDS ${{ matrix.database }}-${{ matrix.version }} Test Results
        uses: actions/upload-artifact@v3
        with:
          name: aws-rds-${{ matrix.database }}-${{ matrix.version }}-test-results
          path: build/spock-reports
