# Terraform Action to test Cloud Databases with test-harness

name: AWS Cloud Database Test Execution
on:
  # Triggers the workflow on a schedule for the main branch. Also allows for manual triggers
  schedule:
    - cron: '0 12 * * *' # Execute every day at noon
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - database: postgresql
            version: 10
          - database: postgresql
            version: 11
          - database: postgresql
            version: 12
          - database: postgresql
            version: 13
          - database: postgresql
            version: 14
          - database: oracle
            version: 19
          - database: aurora-postgresql
            version: 13

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: liquibase/liquibase-github-action@v7
        if: ${{ matrix.database == 'oracle' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
          ORACLE_VERSION: ${{  matrix.version }}
        with:
          operation: "update"
          classpath: "src/test/resources/init-changelogs/aws"
          changeLogFile: "oracle.sql"
          username: "${{secrets.TH_DB_ADMIN}}"
          password: "${{secrets.TH_DB_PASSWD}}"
          url: "${{ secrets[format('TH_ORACLEURL_{0}', matrix.version)] }}"

      - uses: liquibase/liquibase-github-action@v7
        if: ${{ matrix.database == 'postgresql' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
          POSTGRES_VERSION: ${{  matrix.version }}
        with:
          operation: "update"
          classpath: "src/test/resources/init-changelogs/aws"
          changeLogFile: "postgresql.sql"
          username: "${{secrets.TH_DB_ADMIN}}"
          password: "${{secrets.TH_DB_PASSWD}}"
          url: "${{ secrets[format('TH_PGRESURL_{0}', matrix.version)] }}"

      - uses: liquibase/liquibase-github-action@v7
        if: ${{ matrix.database == 'aurora-postgresql' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
          POSTGRES_VERSION: ${{  matrix.version }}
        with:
          operation: "update"
          classpath: "src/test/resources/init-changelogs/aws"
          changeLogFile: "postgresql.sql"
          username: "${{secrets.TH_DB_ADMIN}}"
          password: "${{secrets.TH_DB_PASSWD}}"
          url: "${{ secrets[format('TH_AURORA_PGRESURL_{0}', matrix.version)] }}"

      - name: Cache local Maven repository
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: AWS RDS ${{ matrix.database }}-${{ matrix.version }} Test Run
        if: ${{ matrix.database == 'postgresql' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DconfigFile=/harness-config-cloud.yml -DdbName=${{ matrix.database }} -DdbVersion=${{ matrix.version }} -DdbUsername=${{secrets.TH_DB_ADMIN}} -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl='${{ secrets[format('TH_PGRESURL_{0}', matrix.version)] }}' -Dmaven.test.failure.ignore=true test

      - name: AWS RDS ${{ matrix.database }}-${{ matrix.version }} Test Run
        if: ${{ matrix.database == 'oracle' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DconfigFile=/harness-config-cloud.yml -DdbName=${{ matrix.database }} -DdbVersion=${{ matrix.version }} -DdbUsername=${{secrets.TH_DB_ADMIN}} -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl='${{ secrets[format('TH_ORACLEURL_{0}', matrix.version)] }}' -Dmaven.test.failure.ignore=true test

      - name: AWS RDS ${{ matrix.database }}-${{ matrix.version }} Test Run
        if: ${{ matrix.database == 'aurora-postgresql' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DconfigFile=/harness-config-cloud.yml -DdbName=postgresql -DdbVersion=${{ matrix.version }} -DdbUsername=${{secrets.TH_DB_ADMIN}} -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl='${{ secrets[format('TH_AURORA_PGRESURL_{0}', matrix.version)] }}' test

      - name: Archive AWS RDS ${{ matrix.database }}-${{ matrix.version }} Test Results
        uses: actions/upload-artifact@v3
        with:
          name: aws-rds-${{ matrix.database }}-${{ matrix.version }}-test-results
          path: build/spock-reports

