
name: Azure Cloud Sql DB Test
on:
  # Triggers the workflow on a schedule for the main branch. Also allows for manual triggers
  workflow_dispatch:
  schedule:
    - cron: '0 12 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

#      - uses: liquibase/liquibase-github-action@v7
#        with:
#          operation: "update"
#          classpath: "src/test/resources/changelogs/azure"
#          changeLogFile: "sqlserver.sql"
#          username: ${{secrets.TH_DB_ADMIN}}
#          password: ${{secrets.TH_DB_PASSWD}}
#          url: ${{secrets.TH_AZURE_URL}}

      - name: Azure SQL DB Test Run
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DconfigFile=/harness-config-cloud.yml -DdbName=mssql -Dprefix=azure -DdbUsername=${{secrets.TH_DB_ADMIN}} -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl=${{secrets.TH_AZURE_URL}} -Dmaven.test.failure.ignore=true test

      - name: Archive Azure Sql Database Test Results
        uses: actions/upload-artifact@v3
        with:
          name: azure-sqldb-test-results
          path: build/spock-reports

