
name: Azure Cloud Sql DB Test
concurrency: azure-run
on:
  # Triggers the workflow on a schedule for the main branch. Also allows for manual triggers
  schedule:
    - cron: '0 7 * * *'
  workflow_dispatch:
    inputs:
      testClasses:
        type: choice
        description: Test Suite or test class to run
        options:
          - LiquibaseHarnessSuiteTest
          - CompatibilityHarnessSuiteTest
          - ChangeObjectTests
          - ChangeDataTests
          - SnapshotObjectTests
          - CompatibilityTest
          - FoundationalTest
      databases:
        description: Databases to start up. Comma separated list of "name:version"
        required: true
        default: "[\"mysql:azure\",\"mssql:azure\"]"

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      databases: ${{ github.event.inputs.databases || '["mysql:azure","mssql:azure"]' }}
      testClasses: ${{ inputs.testClasses  || 'LiquibaseHarnessSuiteTest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

  init-mysql:
    runs-on: ubuntu-latest
    container:
      image: liquibase/liquibase:latest
      env:
        LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - database: mysql
            version: azure
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      #      This additional init step is required because of mysql driver issue on GH actions
      - name: Install Dependencies
        run: lpm update && lpm add mysql

      - name: Clean Azure MySQL Database
        uses: liquibase-github-actions/drop-all@v4.17.2
        if: ${{ matrix.database == 'mysql' }}
        with:
          url: "${{secrets.TH_AZURE_MYSQL_URL}}"
          username: "${{ format('{0}@{1}', secrets.TH_DB_ADMIN, secrets.TH_AZURE_MYSQL_FQDN) }}"
          password: "${{secrets.TH_DB_PASSWD}}"
          licenseKey: "${{secrets.LICENSE_KEY}}"

      - name: Init Azure MySQL Database
        uses: liquibase/liquibase-github-action@v7
        if: ${{ matrix.database == 'mysql' }}
        with:
          operation: "update"
          classpath: "src/test/resources/init-changelogs/azure"
          changeLogFile: "mysql.sql"
          username: "${{secrets.TH_AZURE_MYSQL_FQDN}}"
          password: "${{secrets.TH_DB_PASSWD}}"
          url: "${{secrets.TH_AZURE_MYSQL_URL}}"
  test:
    needs: [init-mysql, setup]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        database: ${{ fromJson(needs.setup.outputs.databases) }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure Test
        id: setup
        uses: actions/github-script@v6.3.3
        with:
          script: |
            let splitValues = "${{ matrix.database }}".split(":")
            core.setOutput("databasePlatform", splitValues[0]);
            core.setOutput("databaseVersion", splitValues[1]);

      - uses: liquibase-github-actions/drop-all@v4.17.2
        if: ${{ steps.setup.outputs.databasePlatform == 'mssql' }}
        with:
          url: "${{secrets.TH_AZURE_URL}}"
          username: "${{secrets.TH_DB_ADMIN}}"
          password: "${{secrets.TH_DB_PASSWD}}"
          licenseKey: "${{secrets.LICENSE_KEY}}"

      - uses: liquibase/liquibase-github-action@v7
        if: ${{ steps.setup.outputs.databasePlatform == 'mssql' }}
        with:
          operation: "update"
          classpath: "src/test/resources/init-changelogs/azure"
          changeLogFile: "sqlserver.sql"
          username: "${{secrets.TH_DB_ADMIN}}"
          password: "${{secrets.TH_DB_PASSWD}}"
          url: "${{secrets.TH_AZURE_URL}}"

      - name: Azure ${{ steps.setup.outputs.databasePlatform }}-${{ steps.setup.outputs.databaseVersion }} Test Run
        if: ${{ steps.setup.outputs.databasePlatform == 'mysql' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        run: mvn -Dtest=${{ needs.setup.outputs.testClasses }} -DconfigFile=/harness-config-cloud.yml -DdbName=${{ steps.setup.outputs.databasePlatform }} -Dprefix=azure -DdbVersion=${{ steps.setup.outputs.databaseVersion }} -DdbUsername=${{ format('{0}@{1}', secrets.TH_DB_ADMIN, secrets.TH_AZURE_MYSQL_FQDN) }} -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl='${{secrets.TH_AZURE_MYSQL_URL}}' test

      - name: Azure ${{ steps.setup.outputs.databasePlatform }}-${{ steps.setup.outputs.databaseVersion }} Test Run
        if: ${{ steps.setup.outputs.databasePlatform == 'mssql' }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}
        run: mvn -Dtest=${{ needs.setup.outputs.testClasses }} -DconfigFile=/harness-config-cloud.yml -DdbName=${{ steps.setup.outputs.databasePlatform }} -Dprefix=azure -DdbUsername=${{secrets.TH_DB_ADMIN}} -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl='${{secrets.TH_AZURE_URL}}' test

      - name: Archive Azure ${{ steps.setup.outputs.databasePlatform }}-${{ steps.setup.outputs.databaseVersion }} Test Results
        uses: actions/upload-artifact@v3
        with:
          name: aws-rds-${{ steps.setup.outputs.databasePlatform }}-${{ steps.setup.outputs.databaseVersion }}-test-results
          path: build/spock-reports

