# Basic workflow with Actions

name: Default Test Execution
on:
  # Triggers the workflow on push & pull request events for the main branch. Also allows for manual triggers
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 12 * * *' # Execute every day at noon
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-18.04
    strategy:
      fail-fast: false
      matrix:
        database: [
            "mysql-5.6",
            "mysql-5.7",
            "mysql-8",
            "percona-xtradb-cluster-5.7",
            "percona-xtradb-cluster-8.0",
            "postgres-9.5",
            "postgres-9",
            "postgres-10",
            "postgres-11",
            "postgres-12",
            "postgres-13",
            "postgres-14",
            "mariadb-10.2",
            "mariadb-10.3",
            "mariadb-10.4",
            "mariadb-10.5",
            "mariadb-10.6",
            "mssql-2017",
            "mssql-2019",
            "H2Database-1.4",
            "crdb-20.2",
            "crdb-20.1",
            "crdb-21.1",
            "crdb-21.2",
            "edb-9.5",
            "edb-9.6",
            "edb-10",
            "edb-11",
            "edb-12",
            "edb-13",
            "derby",
            "sqlite",
            "diff",
            "hsqldb-2.4",
            "hsqldb-2.5",
            "firebird-3",
            "firebird-4"
        ]

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '1.8.0'

      - name: Build ${{ matrix.database }} test infra
        working-directory: src/test/resources/docker
        run: ./create-infra.sh ${{ matrix.database }}
        env:
          ARTIFACTORY_URL: ${{ secrets.ARTIFACTORY_URL }}
          ARTIFACTORY_USER: ${{ secrets.ARTIFACTORY_USER }}
          ARTIFACTORY_TOKEN: ${{ secrets.ARTIFACTORY_TOKEN }}

      - name: ${{ matrix.database }} Test Run
        run: ./src/test/resources/automation-runner.sh ${{ matrix.database }}
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}

      - name: Archive ${{ matrix.database }} test results
        uses: actions/upload-artifact@v2
        with:
          name: ${{ matrix.database }}-test-results
          path: build/spock-reports

      # GitHub Actions has its own cleanup and this might be redundant
      - name: Tear down ${{ matrix.database }} test infra
        working-directory: src/test/resources/docker
        run: ./teardown-infra.sh ${{ matrix.database }}