# Basic workflow with Actions

name: Test Execution
on:
  # Triggers the workflow on push & pull request events for the main branch. Also allows for manual triggers
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 12 * * *' # Execute every day at noon
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '1.8.0'

#      - name: Build test infra
#        working-directory: src/test/resources/docker
#        run: docker-compose up -d
#
#      - name: MySQL Test Run
#        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DdbName=mysql -Dmaven.test.failure.ignore=true test
#
#      - name: Archive MySQL test results
#        uses: actions/upload-artifact@v2
#        with:
#          name: mysql-test-results
#          path: build/spock-reports
#
#      - name: MariaDB Test Run
#        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DdbName=mariadb -Dmaven.test.failure.ignore=true test
#
#      - name: Archive MariaDB test results
#        uses: actions/upload-artifact@v2
#        with:
#          name: mariadb-test-results
#          path: build/spock-reports
#
#      - name: Postgres Test Run
#        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DdbName=postgresql -Dmaven.test.failure.ignore=true test
#
#      - name: Archive Postgres test results
#        uses: actions/upload-artifact@v2
#        with:
#          name: postgres-test-results
#          path: build/spock-reports
#
#      - name: MSSQL Test Run
#        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DdbName=mssql -Dmaven.test.failure.ignore=true test
#
#      - name: Archive MSSQL test results
#        uses: actions/upload-artifact@v2
#        with:
#          name: mssql-test-results
#          path: build/spock-reports
#
#      - name: Tear down test infra
#        working-directory: src/test/resources/docker
#        run: docker-compose down --volumes
#
#      - name: Build cockroachDB test infra
#        working-directory: src/test/resources/docker
#        run: docker-compose -f docker-compose.cockroachdb.yml up -d
#
#      - name: cockroachDB Test Run
#        run: mvn -Dtest=LiquibaseHarnessSuiteTest -DdbName=cockroachdb test
#
#      - name: Tear down cockroachDB test infra
#        working-directory: src/test/resources/docker
#        run: docker-compose -f docker-compose.cockroachdb.yml down --volumes
#
#      - name: Archive cockroachdb test results
#        uses: actions/upload-artifact@v2
#        with:
#          name: cockroachdb-test-results
#          path: build/spock-reports



#      - name: Login to Docker
#        uses: docker/login-action@v1
#        with:
#          username: ${{ secrets.RT_USER }}
#          password: ${{ secrets.RT_PWD }}

#      - name: Pull image from DockerHub
#        run: docker pull ${{ secrets.RT_URL }}

      - name: Docker login
        run: docker login "${{ secrets.RT_URL }}" -u "${{ secrets.RT_USER }}" -p "${{ secrets.RT_PWD }}"

      - name: Pull image from DockerHub
        run: docker pull ${{ secrets.RT_URL }}

#      - name: Run image in container
#        working-directory: src/test/resources/docker
#        run: