# Terraform Action to test Cloud Databases with test-harness

name: Oracle OCI Test Execution
concurrency: oracle-oci-run
on:
  # Triggers the workflow on a schedule for the main branch. Also allows for manual triggers
  schedule:
    - cron: '0 6 * * *' # Execute every day at 6AM UTC
  workflow_dispatch:
    inputs:
      testClasses:
        type: choice
        description: Test Suite or test class to run
        options:
          - LiquibaseHarnessSuiteTest
          - FoundationalHarnessSuiteTest
          - ChangeObjectTests
          - ChangeDataTests
          - SnapshotObjectTests
          - GenerateChangelogTest
          - FoundationalTest
          - AdvancedHarnessSuiteTest

jobs:
  setup:
    name: Setup
    runs-on: ubuntu-latest
    outputs:
      testClasses: ${{ inputs.testClasses  || 'LiquibaseHarnessSuiteTest' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  test:
    needs: [setup]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4


      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Oracle OCI Test Run
        env:
          LIQUIBASE_PRO_LICENSE_KEY: ${{ secrets.LICENSE_KEY }}

        run: mvn -Dtest=${{ needs.setup.outputs.testClasses }} -DconfigFile=/harness-config-cloud.yml -DdbName=oracle -DdbVersion=oci -Dprefix=oci -DdbUsername=ADMIN -DdbPassword=${{secrets.TH_DB_PASSWD}} -DdbUrl=${{ secrets.TH_OCI_ORACLE_19c_URL }} test

      - name: Archive Oracle OCI Test Results
        uses: actions/upload-artifact@v4
        with:
          name: oracle-oci-test-results
          path: build/spock-reports
