name: Release Extension to Sonatype

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  release:
    uses: liquibase/build-logic/.github/workflows/extension-release-published.yml@main
    secrets: inherit  